// Define variables and mixins for later use.

// Colors
$bg-header: #93278f;
$bg-page: #eceff1;
$bg-footer: #e0e5e8;

$primary: #662d91;
$secondary: #4d226d;

$alert: #f00;

$icon-fill: #37474f;

$text: #626b76;
$heading: #455a64;
$text-light: #78909c;
$text-contrast: #fff;



//Fonts
$sans-serif: 'Roboto Condensed', Arial, sans-serif;

// Font size
$base-font-size: 14px;

// Layout
$container-width: 480px;
