header {
    color: $text-contrast;
    background-color: $bg-header;
    font-size: .9rem;
}



#logo {
    color: $text-contrast;
    display: inline-block;
    letter-spacing: -.015em;
    margin-bottom: 0;
    padding: 1.25em 1.7em;
}



#nav-toggle {
    background-color: $primary;
    color: $text-contrast;
    display: inline-block;
    float: right;
    padding: 1.25em;
    text-decoration: none;
}

.icon-hamburger {
    display: inline-block;
    height: 1em;
    margin-left: .5em;
    width: 1em;

    span {
        background-color: $text-contrast;
        display: inherit;
        height: .125em;
        position: relative;
        width: 100%;

        &:before,
        &:after {
            background-color: $text-contrast;
            content: '';
            display: inherit;
            height: inherit;
            position: absolute;
            width: inherit;
        }

        &:before {
            top: -.5em;
        }

        &:after {
            top: -.25em;
        }
    }

}
