// The lone <header> element
header {
    color: $text-contrast;
    background-color: $bg-header;
    font-size: .9rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10; // Keeps this above the form error message, leaves a little room for future things.
}

// This will appear to slide down from underneath the <header> as long as it has a smaller z-index. Javascript adds the .has-error class to toggle the transition animation.
#form-error {
    font-size: .9rem;
    background-color: $alert;
    box-shadow: 0 1px 10px 4px rgba(0,0,0,.25);
    color: $text-contrast;
    content: "Your username or password wasn't recognized.";
    left: 0;
    opacity: 0;
    padding: 1.25em;
    position: absolute;
    top: 0;
    transition: opacity 200ms ease, transform 200ms ease 50ms;
    transform: translate(0, -10%);
    width: 100%;
    z-index: 2; //Keep it above the page content but below the <header>

    // Gets added via JS on form validation error, and removed on success.
    &.has-error {
        opacity: 1;
        transform: translate(0, 100%);
    }
}



#logo {
    color: $text-contrast;
    display: inline-block;
    letter-spacing: -.015em;
    margin-bottom: 0;
    padding: 1.25em 1.7em; // As long as the padding-top and padding-bottom are the same for this and #nav__toggle, the height of the header will be consistent.
}
