header {
    color: $text-contrast;
    background-color: $bg-header;
    font-size: .9rem;
    position: relative;
    z-index: 10;

    // &:after {
    //     background-color: $alert;
    //     color: $text-contrast;
    //     content: "Your username or password wasn't recognized.";
    //     left: 0;
    //     padding: 1.25em;
    //     position: absolute;
    //     top: 0;
    //     transition: transform 200ms ease;
    //     transform: translate(0, 100%);
    //     width: 100%;
    // }
}

#form-error {
    font-size: .9rem;
    background-color: $alert;
    box-shadow: 0 1px 10px 4px rgba(0,0,0,.25);
    color: $text-contrast;
    content: "Your username or password wasn't recognized.";
    left: 0;
    opacity: 0;
    padding: 1.25em;
    position: absolute;
    top: 0;
    transition: opacity 200ms ease, transform 200ms ease 50ms;
    transform: translate(0, -10%);
    width: 100%;
    z-index: 1;

    &.has-error {
        opacity: 1;
        transform: translate(0, 100%);
    }
}



#logo {
    color: $text-contrast;
    display: inline-block;
    letter-spacing: -.015em;
    margin-bottom: 0;
    padding: 1.25em 1.7em;
}
