// Margins, paddings, dimensions, and structure-based stuff.


body {
    background-color: $bg-page;
}

.container {
    padding: 2em 1.7em;
}



h1,
h2,
h3 {
    margin-bottom: 1em;
}


h2 {
    margin-bottom: 1.2em;
}

p {
    margin-bottom: 1em;
}
