.icon__page {
    margin-bottom: 1.3em;
}

.note {
    font-size: .75rem;
}



#form__signup {
    margin-top: 1.6em;

    input[type='text'],
    input[type='password'] {
        font-family: $sans-serif;
        background-color: #fff;
        display: block;
        padding: .25em .5em;
        border-radius: 4px;
        border: none;
    }

}
